.DisplayCurrentWeather {
    background-color: rgba(255,255,255,0.2);
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 35px;
    width: 40rem;
    min-height: 100%; 
    margin-top: 110px;
    margin-bottom: 20px;
}

p{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}
h1{
    color: #6C40B5;
    fill: #6C40B5;
    font-size: 4rem;
    margin: 0;
    margin-bottom: 15px;
}
.HeaderWeatherInfomation{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 90%;
    height: 180px;
    margin-bottom: 0;

}
.localCountryInformationBar{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 26px;
}

.WeatherIcon{
    height: 250px;
    transform: translate(-3%, -30%);
}