.WeatherPage {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 100%;
    min-height: 100%;
    position: relative;
    margin: 0;
}

.WeatherPage:before{
    content: '';
    background: url('../assets/bg-light.png') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}